@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
}

/*===========================Login==========================================*/

.login-outer-section {
  background-color: #ECEDEF;
  width: 100vw;
  max-width: 100%;
  padding: 1.5rem 2rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.login-inner-section {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.login-content {
  padding: 1rem;
}

.login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login-logo h1 {
  font-family: 'Benne', serif;
  font-size: 2.5rem;
  margin-top: 1rem;
}

.login-logo p {
  color: #98999C;
  font-size: 1rem;
  margin: 10px;

}

.login-line {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #98999C;
  margin: 1rem 0;
}

.login-line p {
  margin: 0 5px;
}

.login-line div {
  border-top: 1px solid #98999C;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;

}

.login-form label {
  padding-bottom: 5px;
  font-size: .9rem;
  font-weight: 600;
  color: #66696d;
}

.login-form input {
  padding: .8rem .4rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: #E8F0FE;
  border: transparent;
  border-color: #C6C7CA;
}

.login-form input:focus {
  outline: none !important;
  border: 2px solid #F67328;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 .2rem;
}

.remember label {
  font-size: .9rem;
  letter-spacing: 1px;
}

.remember p {
  font-size: .8rem;
  color: #bfc0c4;
}

.login-form button {
  border: transparent;
  background-color: #F67328;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.login-form button:hover {
  box-shadow: 1px 1px 10px 1px rgb(170, 165, 165);
}

.login-bottom-text {
  margin-top: .5rem;
  color: #bfc0c4;
}


/*====================================================Signup=======================================================*/

.signup {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.signup section {
  background-color: white;
  box-shadow: 1px 1px 10px 1px #aaa3a3;
  border-radius: 5px;
  width: 48%;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
}

.signup section h1 {
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  color: #271D4F;
  letter-spacing: 1px;
}

.signup section .top-aside {
  width: 100%;
  text-align: left;
  margin-bottom: .5rem;
  color: #CECFD1;
}

.signup section .category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.category label {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #4CBDDC;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.category label div {
  font-size: .9rem;
  font-weight: 550;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.name-field {
  width: 100%;
}

.name-field input {
  width: 46%;
}

.signup-form input {
  padding: .8rem;
  margin-bottom: 1rem;
  border: transparent;
  border-bottom: 1.5px solid #B7E5F1;
  letter-spacing: 1px;
}

.signup-form div {
  width: 100%;
}

#lastname {
  float: right;
}

#email, #password {
  background-color: #E8F0FE;
}

.btn-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-section div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-section div button {
  padding: 1.2rem 8rem;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: 5px;
  letter-spacing: .1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background-color: #F67328;
}

.btn-section div button:hover {
  box-shadow: 1px 1px 10px 1px #aaa3a3;
}

.btn-section a {
  text-decoration: none;
  letter-spacing: 1px;
  color: #9a9da3;
}

.policy {
  font-size: .8rem;
  padding: .1rem .4rem;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  color: #CECFD1;
}

/*=======================================================HEADER=========================================================*/
.header {
  width: 100vw;
  height: 70px;
  max-width: 100%;
}

.header-content {
  max-width: 1200px;
}

.logo img {
  width: 60px;
  height: 60px;
}

.form-group {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group button {
  margin-left: 1rem;
  background-color: #F67328;
  color: white;
}

.btns {
  display: flex;
  align-items: center;
}

.btns.link {
  text-decoration: none;
}

ul, li {
  list-style: none;
  text-decoration: none;
}

.btns .profile {
  position: relative;
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color .5s;
}

.btns .profile:hover {
  border-color: #F67328;
}

.link2 {
  margin-left: 1rem;
}

.profile-menu {
  position: absolute;
  border-radius: 10px;
  background-color: white;
  width: 150px;
  top: 110%;
  left: 30%;
  padding: 1rem;
  z-index: 1000;
}

.profile-menu li {
  padding: .2rem .5rem;
  transition: background-color .3s;
  border-radius: 5px;
}

.profile-menu li:hover {
  background-color: #F67328;
  color: white;
}

.divider {
  border-bottom: 1px solid rgb(211, 211, 211);
}

/*=======================================================QUESTION=========================================================*/


.question-lists {
  max-width: 1000px;
  width: 100%;
}

.question-content-container {
  border-radius: 10px;
  cursor: pointer;
  transition: transform .5s;
}

.question-content-container:hover {
  transform: scale(1.02)
}

.votes span:nth-child(1) {
  margin-right: .6rem;
}

.question-tags {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.btn.ask {
  background-color: #F67328;
  color: white;
}

.question-tags li {
  margin-right: .5rem;
  padding: .2rem .4rem;
  background-color: #F67328;
  color: white;
  font-size: .8rem;
  border-radius: 5px;
}


.is-active {
  background-color: #F67328;
}

.question-detail-section {
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-detail-container {
  max-width: 1100px;
  width: 100%;
  margin: 2rem 0;
}


/*----------------------------------------------Profile--------------------------------*/
.card {
  width: 350px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.5s
}

.image img {
  transition: all 0.5s
}

.card:hover .image img {
  transform: scale(1.5)
}


.name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.idd1 {
  font-size: 12px
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500
}

.icons i {
  font-size: 19px
}

hr .new1 {
  border: 1px solid
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}

.date {
  background-color: #ccc
}

.spinner-container{
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@media only screen and (max-width:960px) {
  .signup section {
    width: 70%;
  }
}

@media only screen and (max-width:710px) {
  .signup section {
    width: 90%;
  }

  .btn-section div button {
    width: 100%;
    padding: .8rem 0;
    font-size: .95rem;
  }
}

@media only screen and (max-width:400px) {
  .login-content {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 2rem;
    height: 100vh;
  }

  .signup section {
    width: 100vw;
    max-width: 100%;
    background-image: none;
    background-color: white;
    padding: 2rem;
    margin: 0;
    border-radius: 0%;
  }
}